@font-face {
    font-family: 'Atkinson';
    src: url('assets/AtkinsonHyperlegible-Regular.ttf');
} @font-face {
    font-family: 'Bigfat Script';
    src: url('assets/Bigfat\ Script.ttf');
} @font-face {
    font-family: 'Bigfat Xtrude';
    src: url('assets/Bigfat\ Script\ Xtrude.ttf');
}

.banner {
    text-align: center;
    font-weight: normal;
    line-height: 100%;
    padding-top: 35px;
} .banner span {
    font-family: 'Bigfat Xtrude';
    font-size: 90px;
    color: #5e3a3a;
    position: relative;
} .banner span::before {
    font-family: 'Bigfat Script';
    color: #fac87d;
    position: absolute;
    content: attr(data-title);
}

.guide {
    text-align: center;
    position: relative;
    font-size: 15px;
    color: #5e3a3a;
    opacity: 70%;
    transform: translateY(65px);
} .guide span::before {
    margin-right: 45vw;
    content: attr(data-title);
}

.main {
    text-align: center;
    white-space: nowrap;
}

#subtitle {
    font-style: italic;
    font-size: 14px;
    color: #5e3a3a;
    opacity: 70%;
    text-align: center;
    padding-top: 5px;
}

#score {
    opacity: 40%;
    line-height: 20%;
    transition: all 0.25s ease-in-out;
}

#msg {
    line-height: 60%;
    transition: all 0.5s ease-in-out;
}

body {
    background-color: #e4c7a5;
    font-family: 'Atkinson';
    font-size: 18px;
    font-weight:bold;
    color: #4f1919;
}

label {
    line-height: 200%;
}

button {
    background-color: #e4c7a5;
    font-size: 18px;
    font-weight: bold;
    color: rgb(94, 58, 58);
    border-radius: 10px;
    transition: 250ms;
} button:hover {
    transition: 300ms;
    background-color: hsl(32, 54%, 71%);
}

input { 
    margin-right: 4vw;
    margin-left: 4vw;
    appearance: none;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    box-shadow: 0px 0px 5px #c6aab1;
    border: 1px solid #f1c571;
    background-color: #5e3a3a;
    transition: 0.2s all linear;
    position: relative;
    top: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
} input:hover {
    border: 6.5px solid #5e3a3a;
    background-color: rgba(236, 167, 196);
} input:checked {
    border: 2px solid #5e3a3a;
    background-color: #eca8c4;
}