@font-face {
    font-family: 'Atkinson';
    src: url('assets/AtkinsonHyperlegible-Regular.ttf');
}

@font-face {
    font-family: 'Bigfat Script';
    src: url('assets/Bigfat\ Script.ttf');
}

@font-face {
    font-family: 'Bigfat Xtrude';
    src: url('assets/Bigfat\ Script\ Xtrude.ttf');
}

.banner {
    text-align: center;
    font-weight: normal;
    line-height: 100%;
    padding-top: 35px;
}

.banner span {
    font-family: 'Bigfat Xtrude';
    font-size: 90px;
    color: #5e3a3a;
    position: relative;
}

.banner span::before {
    font-family: 'Bigfat Script';
    color: #f1bf62;
    position: absolute;
    content: attr(data-title);
}

#subtitle {
    font-style: italic;
    font-size: 14px;
    color: #5e3a3a;
    opacity: 75%;
    text-align: center;
    padding-top: 5px;
}

#quest {
    text-align: center;
}

body {
    background-color: #e4c7a5;
    font-family: 'Atkinson';
    font-size: 20px;
    font-weight:bold;
    color: #850016;
}

button {
    background-color: #e4c7a5;
    font-family: 'Atkinson';
    font-size: 18px;
    font-weight: bold;
    color: rgb(94, 58, 58);
    border-radius: 10px;
}

button:hover {
    transition: 300ms;
    background-color: hsl(32, 54%, 71%);
}

.questions {
    text-align: center;
    white-space: nowrap;
}

input { 
    margin-right: 13px; /* sets radio distance from each other */
    margin-left: 13px;
}

label {
    font-size: 16px;
}

/*

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-shadow: 0px 0px 5px #c6aab1;
    border: 0.2vw solid #f1bf62;
    background-color: #5e3a3a;
    transition: 0.2s all linear;
    margin-right: 100px;
    position: relative;
    top: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

input:checked {
    border: 0.45vw solid #5e3a3a;
    background-color: #f1bf62;
}
*/